<div class="modal-header">
  <div class="close" ng-click="$ctrl.cancel()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
</div>
<div class="modal-body" id="modal-body">
  <div>
    <label ng-bind="$ctrl.person.label"></label>
    <p ng-bind="$ctrl.person.value"></p>
  </div>
  <div>
    <label>Title</label>
    <p ng-bind="$ctrl.task.title"></p>
  </div>
  <div ng-if="$ctrl.task.due_date">
    <div class="due-date">
      <label>Due date</label>
      <p ng-bind="$ctrl.task.due_date | date : $ctrl.dueDateFormat"></p>
    </div>
    <button class="btn btn-primary" type="button" ng-if="$ctrl.showAddReminderButton()" ng-click="$ctrl.toggleReminderForm(true)">Add reminder</button>
  </div>
  <div>
    <div ng-if="$ctrl.reminderDate()" class="reminder">
      <label>Reminder</label>
      <p ng-bind="$ctrl.reminderDate() | date: $ctrl.dueDateFormat"></p>
    </div>
    <button class="btn btn-warning" type="button" ng-if="$ctrl.showUpdateReminderButton()" ng-click="$ctrl.toggleReminderForm(true)">Update reminder</button>
    <button class="btn btn-danger" type="button" ng-if="$ctrl.showUpdateReminderButton()" ng-click="$ctrl.deleteReminderOnClick()">Delete reminder</button>
    <div ng-if="$ctrl.isSettingReminder">
      <form name="$ctrl.reminderForm">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <label>Reminder</label>
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.datepicker.options.format}}" ng-model="$ctrl.reminder.date" ng-model-options="{timezone: 'utc'}" is-open="$ctrl.datepicker.opened" close-text="Close" ng-required="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <button class="btn btn-default" ng-click="$ctrl.toggleReminderForm(false)">Cancel</button>
        <button class="btn btn-success" ng-click="$ctrl.setReminderOnClick()" ng-disabled="$ctrl.reminderForm.$invalid">Set Reminder</button>
      </form>
    </div>
  </div>
  <div>
    <label>Message</label>
    <p ng-bind="$ctrl.task.message"></p>
  </div>
  <form name="$ctrl.taskReplyForm" ng-if="$ctrl.isReplying">
    <div class="form-group">
      <label>Reply</label>
      <textarea class="form-control" name="message" rows="3" ng-model="$ctrl.reply.message" required></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-if="$ctrl.showReplyButton()" ng-class="{ 'btn-default': $ctrl.isReplying, 'btn-primary': !$ctrl.isReplying }" type="button" ng-click="$ctrl.toggleReplyForm()" ng-bind="$ctrl.isReplying ? 'Cancel' : 'Reply'"></button>
  <button class="btn" ng-class="{ 'btn-success': !$ctrl.task.markedDone, 'btn-warning': $ctrl.task.markedDone }" type="button" ng-click="$ctrl.done()" ng-if="!$ctrl.isReplying && $ctrl.canMarkAsDone()">Mark as {{$ctrl.task.markedDone ? 'not done' : 'done'}}</button>
  <button class="btn btn-success" type="button" ng-click="$ctrl.send()" ng-if="$ctrl.isReplying" ng-disabled="$ctrl.isFormDisabled()">Send</button>
  <button class="btn btn-success" type="button" ng-click="$ctrl.send(true)" ng-if="$ctrl.isReplying && $ctrl.canSendAndMarkAsDone()" ng-disabled="$ctrl.isFormDisabled()">Send & mark as done</button>
</div>
