<table st-table="$ctrl.rowCollection" class="table table-hover table-responsive">
  <thead>
    <tr>
      <th ng-repeat="field in $ctrl.fields" st-sort="{{field.attr}}">
        <span ng-bind="field.header"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="rowItem in $ctrl.rowCollection" ng-click="$ctrl.rowOnClick({$event: { rowItem: rowItem }})">
      <td ng-repeat="field in $ctrl.fields" mno-render-dynamic-attr data="rowItem" field="field"></td>
    </tr>
  </tbody>
</table>
