<table st-table="$ctrl.displayedCollection" st-safe-src="$ctrl.rowCollection" st-pipe="$ctrl.pipe()" class="table table-responsive" ng-class="{ 'table-hover': !$ctrl.loading && $ctrl.hasCollectionItems() }">
  <thead>
    <tr>
      <th ng-repeat="field in $ctrl.fields" st-sort="{{field.attr}}">
        <span ng-bind="field.header"></span>
      </th>
    </tr>
    <tr>
      <th ng-repeat="field in $ctrl.subHeaders" mno-render-dynamic-header field="field">
      </th>
    </tr>
  </thead>
  <tbody ng-hide="$ctrl.isLoading || !$ctrl.hasCollectionItems()">
    <tr ng-repeat="rowItem in $ctrl.displayedCollection" ng-click="$ctrl.rowOnClick({$event: { rowItem: rowItem }})">
      <td ng-repeat="field in $ctrl.fields" ng-class="field.class" mno-render-dynamic-attr row-item="rowItem" field="field"></td>
    </tr>
  </tbody>
  <tbody ng-show="$ctrl.isLoading">
    <tr>
      <td colspan="{{$ctrl.fields.length}}" class="text-center">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
  <tbody ng-hide="$ctrl.hasCollectionItems() || $ctrl.isLoading">
    <tr>
      <td colspan="{{$ctrl.fields.length}}" class="text-center">
        <span>No results</span>
      </td>
    </tr>
  </tbody>
</table>
