mno-sortable-table {
  [st-table]{
    [st-sort] {
      cursor: pointer;
    }

    [st-search] {
      font-weight: 100;
    }

    .st-sort-ascent:after,
    .st-sort-descent:after {
      font-family: FontAwesome;
      height: 17px;
      padding-left: 5px;
      float: right;
      font-size: 17px;
    }

    .st-sort-ascent:after{
      // Content code for 'fa-sort-asc'
      content: "\f0de";
    }

    .st-sort-descent:after{
      // Content code for 'fa-sort-desc'
      content: "\f0dd";
    }
  }
}
