<div class="modal-header"></div>
<div class="modal-body" id="modal-body">
  <form name="$ctrl.createTaskForm">
    <div class="form-group">
      <label>To</label>
      <input type="text" class="form-control" name="to" ng-model="$ctrl.selectedRecipient" uib-typeahead="recipient as recipient.name for recipient in $ctrl.recipients | filter:{name:$viewValue}" typeahead-min-length="0" autocomplete="off" required>
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" ng-model="$ctrl.task.title" required>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <label>Due Date (optional)</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.datepicker.options.format}}" ng-model="$ctrl.taskDueDate" ng-model-options="{timezone: 'utc'}" is-open="$ctrl.datepicker.opened" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control" name="message" rows="3" ng-model="$ctrl.task.message" required></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Discard</button>
  <button class="btn btn-warning" ng-disabled="$ctrl.loading || $ctrl.createTaskForm.$invalid" type="button" ng-click="$ctrl.ok('draft')">{{$ctrl.isDraft ? 'Update' : 'Save as'}} draft</button>
  <button class="btn btn-success" ng-disabled="$ctrl.loading || $ctrl.createTaskForm.$invalid" type="button" ng-click="$ctrl.ok()" ng-disabled="">Send</button>
</div>
