<div class="btn-group" uib-dropdown ng-if="$ctrl.filters.length">
  <div id="split-button" class="btn btn-primary" ng-bind="$ctrl.selected.name"></div>
  <button type="button" class="btn btn-primary" uib-dropdown-toggle>
    <span class="caret"></span>
    <span class="sr-only"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
    <li role="menuitem" ng-repeat="filter in $ctrl.filters"><a ng-click="$ctrl.onSelect({$event: {filter: filter}})" ng-bind="filter.name"></a></li>
  </ul>
</div>
