<!-- Content Wrapper -->
<div id="sidebar-wrapper" ng-class="{'reduced': $ctrl.reduced}">
  <!-- Sidebar -->
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="$ctrl.reduceSidebar()">
        <img class="sidebar-logo visible-sm visible-xs" src="{{$ctrl.logo}}">
        <span class="menu-icon glyphicon glyphicon-transfer hidden-sm hidden-xs"></span>
      </a>
    </li>
    <div ng-transclude="navigation"></div>
  </ul>
  <div class="sidebar-footer"></div>
</div><!-- End Sidebar -->

<div id="content-wrapper" ng-class="{'open': $ctrl.toggled, 'reduced': $ctrl.reduced}">
  <!-- Header Bar -->
  <header class="header">
    <!-- Hamburger -->
    <a class="header-sidebar-toggle visible-sm visible-xs" href="" ng-click="$ctrl.toggleSidebar()">
      <div id="hamburger-toggle" ng-class="{'open': $ctrl.toggled}">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>

    <div ng-transclude="header"/>

  </header><!-- End Header Bar -->

  <!-- Page Content -->
  <div class="page-content" ng-transclude="content"></div><!-- End Page Content -->

  <footer ng-if="!$ctrl.hideFooter">
    <div ng-transclude="footer"></div>
  </footer>
</div><!-- End Content Wrapper -->
