/* App row component style */
mno-section {
  display: block;
  border-bottom: 1px solid @mno-section-border-bottom-color;
  padding-top: @mno-section-padding-top;
  padding-bottom: @mno-section-padding-bottom;

  &:last-child {
    border-bottom: none;
  }

  .left-column {
    /* If the screen is sm and - */
    @media screen and (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }

    /* If the screen is sm and - */
    &.col-xs-12 {
      margin-bottom: 15px;
    }

    .heading {
      color: @mno-section-title-color;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .description {
      color: @mno-section-description-color;
      line-height: 24px;
      font-size: 13px;
    }
  }

  .right-column {
    .inner-section-title {
      font-size: 16px;
      font-weight: bold;
      .top-buffer-2;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  /* If the screen is md+ */
  @media screen and (min-width: @screen-md-min) {
    .right-column > .form-inline .form-control,
    .right-column > .form-control,
    .right-column > mno-dynamic-input,
    .right-column > text-angular,
    .right-column > mno-multiple-string-field,
    .ta-toolbar {
      display: block;
      width: 80%;
    }
  }

  .form-inline {
    /* If the screen is sm- */
    @media screen and (max-width: @screen-xs-max) {
      button.btn {
        margin-top: 10px;
      }
    }
  }

  form .form-group {
    margin-bottom: 15px;
  }

  .section-button {
    margin-bottom: 15px;

    /* If the screen is md+ */
    @media screen and (min-width: @screen-md-min) {
      position: absolute;
      top: -70px;
      right: 15px;
    }
  }
}
